@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  @apply bg-slate-400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  @apply flex justify-center items-center h-screen w-screen;
}

.card {
  @apply bg-white text-gray-900 rounded-md mx-3 px-4 py-8 w-full shadow-xl min-h-[60%] lg:w-fit lg:min-w-[40%];
}

.btn {
  @apply text-gray-200 py-2 px-4 rounded-md min-w-[243px] shadow-xl font-semibold;
}

.btn-primary {
  @apply bg-blue-900;
}

.btn-secondary {
  @apply bg-yellow-600;
}
